@import '_base.css';

.outer_box{
    height: 100vh;
    display: grid;
    grid-template-rows: 80px auto 80px;
    border: 1px solid blue;
    
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    
}

h1{
    border: 1px dotted hotpink;
    text-align: center;
}

.question_cards{
    height: 1000px;
}

.info_footer{
    border: 1px solid yellow;
}

.navbar{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid green;

}

.nav_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted hotpink;
}

.content{
    overflow-y: scroll;

}

