@import "_base.css";

.outer_box {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto 80px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 53, 83);
}

h1 {
  color: whitesmoke;
  text-align: center;
}

.question_cards {
  height: 1000px;
}

.info_footer {
  background-color: rgb(53, 53, 83);
}

.iconbar {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.iconbar a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  text-decoration: none;
  color: whitesmoke;
}

.material-icons,
.material-icons-outlined {
  font-size: 3rem;
}

.content {
  overflow-y: scroll;
}
